# Ignore some common files and directories
**/node_modules
**/.env
**/.venv
venv/
.DS_Store


# graphics 
graphics/build/
graphics/**/.DS_Store
graphics/.cache/
graphics/.vscode/

# imgui
graphics/imgui.ini

# trace
graphics/*.trace
